@{
    ViewBag.Title = "Home Page";
}
@section featured {}
@section css{
    <link href="~/Content/indexCSS.css" rel="stylesheet" /> 
}

    <div class="span6">
        <h4>Cheque a localização de sua encomenda</h4>
        @Html.TextBox("TrackCode")
    </div>
